a.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

ul.navbar-nav {
    font-size: 20px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: black;
}

li.nav-item {
    margin-right: 25px;
}

a.btn-like {
    border-style: solid;
    border-color: #C4C4F6;
    border-radius: 25px;
    background-color: #C4C4F6;
    padding: 0.5rem 1rem !important;
    text-decoration: none;
    color: black;
}

a.learn-more {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

h1 {
    color: #123B4F;
    font-size: 96px;
}

h2 {
    color: #FCA300;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 15px;
}

p.main-text {
    margin-top: 30px;
    margin-bottom: 70px;
    color: darkgray;
}

.message {
    background-color: green;
    color: white;
}